.st0{fill:#FFFFFF;}
.st1{fill:#00437A;}
.st2{fill:#12A6D4;}

.index{

}
.hero-home{
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(53deg, #00457c, #01a4ce);
  box-sizing: border-box;
  position: relative;
  z-index: 2;

  .wrap,
  .hero-text-image{
    min-height: 100vh;
  }

  h1{
    margin-bottom: 40px;
    line-height: 1.1;
    span{
      display: block;
      font-weight: normal;
      font-size: 44px;
      &:nth-child(2){
        font-weight: bold;
      }
    }
  }
  figure{
    width: 625px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    img{
      border-radius: 50%;
      display: block;
      width: 100%;
    }
    figcaption{
      text-align: center;
      margin-top: 15px;
      font-size: 13px;
    }
    img, figcaption{
      position: relative !important;
    }
    svg{
      top: auto !important;
    }
  }

  .btn-hero-details{
    display: inline-block;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    width: 167px; // 167.6px
    line-height: 37px; // 37.2px
    border-radius: 5px; // 5.1px
    background-color: $blue;
    margin-top: 40px;
    &:hover{
      color: $blue;
      background-color: white;
    }
  }

}


.hero-text-image{
  width: 100%;
  display: flex;
  top: 0;
  position: relative;
  align-items: center;
  justify-content: space-between
}

.hero-text{
  width: 555px;
  font-size: 20px;
  line-height: 1.5;
  p{
    max-width: 30em;
  }
}

.hero-logo{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 257px;
  height: 257px;
  transform: translate(-40%, -2em);
  max-width: 42%;
}
@media screen and (max-width:1200px){
  .hero-home img{
    margin-left: 15%;
  }
}

@media screen and (max-width:850px){
  .hero-text-image{
    display: block;
    padding-top: 120px;
  }
  .hero-text{
    width: 100%;
  }
  .hero-home {
    figure{
      max-width: 65%;
    }
    img{
      margin-left: 0;
    }
  }
  .hero-logo{
    transform: translate(-40%, 0);
  }
  .hero-home{
    .scroll-down{
      display: none
    }
  }
}